<div class="history-container">
    <p-card header="История прохождения тестов">
      <div class="history-actions">
        <p-button 
          label="На главную" 
          icon="pi pi-home"
          (click)="navigateToHome()"
          styleClass="p-button-outlined">
        </p-button>
        
        <p-button 
          label="Очистить историю" 
          icon="pi pi-trash"
          severity="danger"
          (click)="clearHistory()"
          [disabled]="testHistory.length === 0">
        </p-button>
      </div>
  
      <p-table 
        [value]="testHistory" 
        [paginator]="true" 
        [rows]="10"
        styleClass="p-datatable-striped"
        [rowsPerPageOptions]="[5,10,25]">
        <ng-template pTemplate="header">
          <tr>
            <th>Тест</th>
            <th>Дата</th>
            <th>Результат</th>
            <th>Время</th>
            <th>Действия</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-historyItem>
          <tr>
            <td>{{ historyItem.testName }}</td>
            <td>{{ formatDate(historyItem.date) }}</td>
            <td>
              {{ historyItem.correctAnswers }}/{{ historyItem.totalQuestions }} 
              ({{ (historyItem.correctAnswers / historyItem.totalQuestions * 100).toFixed(1) }}%)
            </td>
            <td>{{ formatTime(historyItem.timeSpent) }}</td>
            <td>
              <p-button 
                icon="pi pi-play" 
                styleClass="p-button-rounded p-button-text"
                (click)="navigateToTest(historyItem.testFile)"
                tooltip="Пройти тест снова">
              </p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="empty-message">
              <i class="pi pi-info-circle"></i> История тестов пуста. Пройдите тесты, чтобы увидеть результаты.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>